@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.scroll{
  position:absolute;
  transition: all 1ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: scroll 20s linear infinite;
  top: 0;
  left: 0;
  width: max-content;
}

.scroll:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scrollWidth));
  }
}